<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuXMM-pESP-hvqE3QjkD0TeNl37dfK4zM</string>
	<key>GCM_SENDER_ID</key>
	<string>233453377047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterReadrss.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>readrss-88285</string>
	<key>STORAGE_BUCKET</key>
	<string>readrss-88285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233453377047:ios:f5042b7655214e4b83ee52</string>
</dict>
</plist>